<mat-card *ngFor="let image of imagesInfo">
  <mat-card-title>{{ image[1].user_name }}</mat-card-title>
  <img #img mat-card-image [src]="'assets/' + image[0] + '.jpg'">
  <mat-card-content>
    <mat-chip-list *ngIf="image[1].categories as categories; else loading">
      <mat-chip *ngFor="let c of categories">{{ c }}</mat-chip>
    </mat-chip-list>
    <ng-template #loading>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-template>
    <a mat-icon-button [href]="image[1].photo_url" target="_blank"><mat-icon>open_in_new</mat-icon></a>
  </mat-card-content>
</mat-card>
